<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CRM_USERDOMAIN" value="" />
    <add key="CRM_USERNAME" value="" />
    <add key="CRM_PASSWORD" value="" />
    <add key="CRM_URL" value= "" />
    <add key="BU" value= "" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>